@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #000000;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
